cycler==0.10.0
decorator==4.2.1
dj-database-url==0.5.0
Django==2.0.3
gunicorn==19.8.1
matplotlib==2.0.2
networkx==2.1
numpy==1.13.1
opencv==1.0.1
opencv-python==3.3.0
Pillow==5.0.0
psycopg2==2.7.4
pyparsing==2.2.0
PyQt5==5.9
pyserial==3.4
python-dateutil==2.6.1
pytz==2017.2
PyWavelets==0.5.2
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
sip==4.19.3
six==1.11.0
virtualenv==15.2.0
whitenoise==3.3.1
wxPython==4.0.0b1
